extends kkutu_layout

mixin SettingOption(id, text, st)
	div.dialog-opt(style=st || "")
		input(id=id, type='checkbox', style='margin-top: 5px; width: auto;')
		label(for=id)= text

block Subject
	title= L('title')

block JS
	script(type='text/javascript', src='/js/in_game_kkutu.min.js')
	script(src='https://www.google.com/recaptcha/api.js')

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu_shop.css')
	
block Jungle
	span#PUBLIC= PUBLIC ? "true" : undefined
	// span#PORT= locals.PORT
	span#URL= `${locals.PROTOCOL}://${locals.HOST}:${locals.PORT}/${locals._id}`
	// span#URL= locals._ws
	span#MOREMI_PART= locals.MOREMI_PART.join(',')
	span#AVAIL_EQUIP= locals.AVAIL_EQUIP.join(',')
	span#NICKNAME_LIMIT= locals.NICKNAME_LIMIT ? JSON.stringify(locals.NICKNAME_LIMIT) : '{"REGEX": []}'
	span#RULE= JSON.stringify(locals.RULE)
	span#OPTIONS= JSON.stringify(locals.OPTIONS)
	div#Yell
	div#Loading= L('LOADING')
	div#Balloons(style='position: absolute;')
	-
		LANG['explInjeong'] = `<h5>${L('explInjeong')}</h5>\
			<h5 style='margin-top: 2px; border-top: 1px dashed #444444; padding-top: 2px; color: #BBBBBB;'>${L('explInjeongListTitle')}</h5>\
			<h5>${locals.KO_INJEONG.map(function(item){ return L('theme_' + item); })}</h5>\
			<h5 style='margin-top: 2px; border-top: 1px dashed #444444; padding-top: 2px; color: #BBBBBB;'>${L('explInjeongListTitle')} (${L('modeEKT')}, ${L('modeESH')})</h5>\
			<h5>${locals.EN_INJEONG.map(function(item){ return L('theme_' + item); })}</h5>`;

block Intro
	img#main-image(src='/img/kkutu/tukku_main.png')
	//- img#intro(src='/img/kkutu/intro.png')
	//- img#intro-start(src='/img/kkutu/intro_start.gif')
	//- div#version= VERSION
	div#intro-text= L('LOADING')


block Middle
	- var VERSION = L('version');
	- var nick = SESSION.nickname;

	//- 접속자 목록
	//- +Product('UserList')
		div 불러오는 중

	//- 방 목록
	div(style='position: relative;')
		div.rooms-create-hover.for-lobby.tooltip(style='position:absolute; top: 340px; left: 890px')
			img.rch-image(src='/img/kkutu/plus.png', style="margin:15px;")
			div.tooltiptext 방 만들기
	+Product('RoomList')
		div 불러오는 중

	//- 상점 페이지
	+Product('Shop')
		div.shop-categories
			- for(var i in locals.CATEGORIES)
				- var v = locals.GROUPS[locals.CATEGORIES[i]] || [];
				div.category-filter.shop-type(id="shop-type-" + locals.CATEGORIES[i], value=v.join(','))= L('category_' + locals.CATEGORIES[i])
		div#shop-shelf(style='width: 100%; height: 305px; overflow-y: scroll;')

	//- 메인 사전 페이지
	+Product('Dictionary')
		input#maindict-input(style='width: 700px; display: inline; margin-bottom: 10px;', placeholder=L('wpInput'), maxlength=100)
		button#maindict-search(style='display: inline; margin-left: 7px; width: 50px;')= L('SEARCH')
		div#dict-window(style='height: 240px; overflow-y: scroll; background-color: #fff; border-radius: 20px; padding: 25px; padding-top:10px;')
			div#maindict.size-fixed

	//- 방 내부 페이지
	//- div(style='position: relative;')
		div.ready-hover.for-normal.tooltip(style='position:absolute; top: 340px; left: 890px')
			img.rch-image(src='/img/kkutu/plus.png', style="margin:15px;")
			div.tooltiptext 준비하기
	+Product('Room')
		div.team-selector
			div.team-button#team-0.team-0
			div.team-button#team-1.team-1 ㄱ
			div.team-button#team-2.team-2 ㄴ
			div.team-button#team-3.team-3 ㄷ
			div.team-button#team-4.team-4 ㄹ
		div.room-users

	//- 인게임 페이지
	+Product('Game')
		div.game-head
			div.items
			div.hints(style='display: none;')
			div.b-left.cwcmd(style='display: none;')
				div.cw-q-head
				input#cw-q-input(placeholder=L('inputHere'), style='width: 313px; height: 20px; font-size: 15px;')
				div.cw-q-body
			div.b-left.bb(style='display: none;')
			div.jjoriping
				img.jjoObj.jjoEyeL(src='/img/jjoeyeL.png')
				img.jjoObj.jjoNose(src='/img/jjonose.png')
				img.jjoObj.jjoEyeR(src='/img/jjoeyeR.png')
				div.jjoDisplayBar
					div.jjo-display.ellipse
					+GraphBar('jjo-turn-time')
					+GraphBar('jjo-round-time')
			div.chain
			div.rounds
			div.history-holder
				div.history
		div.game-body
		div.game-input
			input#game-input(placeholder=L('yourTurn')+' '+L('inputChat'), readonly)

	//- 좌측 하단의 내 정보
	+Product('Me')
		div.moremi.my-image
		div.my-stat
			div.jt-image.my-stat-level
			div.my-stat-name.ellipse
			div.my-stat-record
			div.my-stat-ping
			div
				+GraphBar('my-okg')
				div.bar-text.my-okg-text
				+Expl(true)
					div(style='color: #CCCCCC;')!= L('okgExpl')
		div.my-level
		+GraphBar('my-gauge')
		div.bar-text.my-gauge-text

	//- 하단 채팅
	+Product('Chat')
		div#Chat
		input#Talk(maxlength=200, autocomplete='off')
		button#ChatBtn= L('send')

	//- +Product('AD')
