extends layout

block Subject
	title= L('title')

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')

block Middle
	+separator(5)
	div(style='float: left; width: 100%;')
		div(style='float: left; padding-left: 70px;')
			h3#holder= L('title').replace(/\[.+?\]/g, "")
		div#menu-bar(style='float: right; margin-top: 25px;')
			a(target='_blank', href='//discord.gg/4NKzVgMh5x', style='background-color: #535353;')= L('kimu_discord')
			a(target='_blank', href='//blog.naver.com/hon20ke', style='background-color: #B18421;')= L('CREATOR')
		div.jjoriping(style='margin-top: 40px;')
			div.jjoDisplayBar(style='width: 325px; height: 85px;')
				button#game-start.jjo-display= L('gameStart')
	div(style='float: right; margin-top: -50px; width: 50%;')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 13px;')
			div#server-list
	div(style='float: left; width: calc(100% - 4px); border: 2px solid #CCC; margin-top: 10px; background-color: #EEE;')
		iframe#kkutu-bulletin(width='100%', height='400px', src='/kkutu_bulletin.html')
	+separator(10)

block Bottom
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')